/* header */ /* header */ /* header */ /* header */ 
/* header */ /* header */ /* header */ /* header */ 
header{
    background-color:#2D25A0;
}
header nav {
    display: flex;
    justify-content: space-evenly;
}
header nav ul{
    display: flex;
}
header  nav ul li{
    list-style: none;
    margin:15px;
}
header nav ul li a{
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
header  nav button img{
   width: 10px;
   height: 8px;
}
header  nav button{
    background-color: #E02C6D;
    border:none;
    width: 80px;
    height: 30px;
   margin-top: 25px;  
}
#header-contents{
    display: flex;
    background-color: #2D25A0;
    padding: 42px 0 86px 0;
}
#content-left{
        max-width: 485px;
        margin: auto 0;   
}
#content-left p{
    font-weight: 700;
    font-size: 60px;
    margin-left: 70px;
    color:#fff;
}
#header-contents #content-left button{
    width: 156px;
    height: 50px;
    background-color: #CF034E;
    color:white;
    border: none;
}
#banner-img{
    width: 500px;
    height: 400px;
}



#banner-img {
    max-width: 556px;
    max-height: 456px;
    transition: 1s;
}
#banner-img:hover {
    transform: scale(1.05) rotate(5deg);
    transition: 1s ease-in-out;
}


/* ------------------------------
        main-article-section
------------------------------ */


#main {
    display: flex;
    justify-content: center;
}
#articles {
    margin: 55px 0 10px;
    display:grid;
    grid-template-columns:repeat(3, 1fr);
}
.article {
    height: 500px;
    width: 330px;
    justify-content: center;
    margin: 15px ;
    box-shadow: 0px 0px 38px rgba(0, 0, 0, 0.15)
}
.article img {
    width: 300px;
    margin: 15px;
}
.article h3 {
    font-size: 28px;
    margin-left: 15px;
}
.article p {
    margin: 15px ;
    color: #6C6C6C;
    width: 300px;
}


/* last section */
#last-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}
#last-section img{
    width: 350px;
    height: 300px;
    margin-left: 90px;
}
#last-section h1{
   font-size: 64px;
   
}
#last-section p{
    width: 320px;
}
#last-section button{
    background-color: #E02C6D;
    border: none;
    width: 156px;
    height: 50px;
    color: white;
    padding-top: 16px;
}
#last-section div a{
    text-decoration: none;
    color: white;
    margin-top: 15px;
    padding-top: 10px;
}

/* footer */ /* footer */ 



footer {
    align-items: center;
    margin-top: 140px;
}
footer img {
    width: 484px;
    margin: 0 auto;
    display: block;
}
footer p {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
}

/*---------------------------------
            Media Queries
-------------------------------- */
/*---------------------------------
            Media Queries
-------------------------------- */

@media all and (max-width:1100px){
    #articles{
        grid-template-columns:repeat(2, 1fr);
    }
}
@media all and (max-width:720px) {
    #articles {
        grid-template-columns: repeat(1, 1fr);
    }
    #banner-img {
        width: 90%;
        height: 90%;
    }
}